<!doctype html>
<html lang="pt-br" data-bs-theme="dark">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="robots" content="index, follow">
    <meta name="autor" content="Claudio Luiz da Cruz">
    <meta name="description" content="Software de Gestão de Biblioteca">

    <title>{% block title %} Tábula Rasa {% endblock %}</title>

    <!--CSS do bootstrap-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-LN+7fdVzj6u52u30Kp6M/trliBMCMKTyK833zpbD+pXdCLuTusPj697FH4R/5mcr" crossorigin="anonymous">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css" rel="stylesheet">
</head>

<body class="bg-body-tertiary">
    <!--conteúdo principal-->
    <div class="container-fluid px-0">

        <!--Menu Navegação-->
        <div class="row">

            <div class="col-12">

                <nav class="navbar navbar-expand-lg bg-body-tertiary">
                    <div class="container-fluid">

                        <!--Logotipo-->
                        <div class="d-flex alin-items-center">
                            <img src="/static/images/logoMenu.png" alt width="48" height="38" class="m-2">
                            <a class="navbar-brand" href="{{ url_for('user_authentication.dashboard') }}"><b>Tábula Rasa</b></a>
                        </div>

                        <!--botão sanduíche (mobile)-->
                        <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                            data-bs-target="#navbarScroll" aria-controls="navbarScroll" aria-expanded="false"
                            aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"></span>
                        </button>

                        <!--itens do menu de navegação-->
                        <div class="collapse navbar-collapse" id="navbarScroll">

                            <ul class="navbar-nav me-auto my-2 navbar-nav-scroll">

                                <!--livros-->
                                <li class="nav-item">
                                    <a class="nav-link" href="{{ url_for('book_management.list_books')}}">Livros</a>
                                </li>

                                <!--Usuários (leitores e bibliotecarios)-->
                                <li class="nav-item">
                                    <a class="nav-link" href="{{ url_for('user_management.listUsers')}}">Usuários</a>
                                </li>

                                <!--Empréstrimo-->
                                <li class="nav-item">
                                    <a class="nav-link" href="{{ url_for('emprestimo.emprestimo')}}">Empréstimo</a>
                                </li>

                                <!--Devolução-->
                                <li class="nav-item">
                                    <a class="nav-link" href="{{ url_for('emprestimo.listDevolucao')}}">Devolução</a>
                                </li>

                            </ul>

                            <!--logout do usuário-->
                            <form class="d-flex" role="search" action="{{ url_for('user_authentication.logout') }}">
                               
                                <button class="btn btn-outline-dark" type="submit">Sair</button>

                            </form>
                        </div>
                    </div>
                </nav>

            </div>

        </div>

        <!--Conteúdo da página da web-->
        <div class="row d-flex justify-content-center">

            <!--conteudo dinamico-->
            {% block content %}
            {% endblock %}

            
        </div>

    </div>


    <!--Java Script do bootstrap-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ndDqU0Gzau9qJ1lfW4pNLlhNTkCfHzAVBReH9diLvGRem5+R9g2FzA8ZGN954O5Q"
        crossorigin="anonymous"></script>
</body>

</html>